<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Declare your package sources -->

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- Package Source Mapping -->
  <packageSourceMapping>

    <!-- Everything is allowed from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

  </packageSourceMapping>

</configuration>